.list {
    padding: 10px;
  }
  
  .list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid lightgray;
    align-items: center;
  }
  
  .name, .lastName, .job, .email {
    text-align: left;
    width: 100px;
  }
